{
  "branches": ["release/*"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "./build/Bip32Ed25519-JVM.jar", "label": "JVM Library" },
          { "path": "./build/Bip32Ed25519-Android-release.aar", "label": "Android Library" }
        ]
      }
    ],
    "@semantic-release/git"
  ]
}