{
  "branches": ["release/*"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "generateNotesCmd": "perl -pi -e 's/^version=.*/version=${nextRelease.version}/' ../gradle.properties",
        "prepareCmd": "exit 1"
      }
    ]
  ]
}