{
  "branches": ["release/*"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "generateNotesCmd": "perl -pi -e 's/^version=.*/version=${nextRelease.version}/' ../gradle.properties",
        "prepareCmd": ":",
        "addChannelCmd" : ":",
        "publishCmd": ":",
        "successCmd": "git tag -d ${nextRelease.gitTag} && git push origin :refs/tags/${nextRelease.gitTag}",
        "failCmd": "git tag -d ${nextRelease.gitTag} && git push origin :refs/tags/${nextRelease.gitTag}"
      }
    ]
  ]
}