{
  "branches": ["release/*"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "perl -pi -e 's/^version=.*/version=${nextRelease.version}/' gradle.properties"
      }
    ]
  ]
}